.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#offcanvasNavbar{
  background-color: #212529;
}

#offcanvasNavbarLabel,#offcanvasNavbarDropdown{
  color: white;
}

.item{
  position: absolute;
  bottom: 3rem;
  height: 85vh
}

/* Estilos modal registro de peliculas */
.editar {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .8);
}

.contenedor{
  position: fixed;
  width: 50%;
  height: 60%;
  margin: auto;
  top: 20%;
  left: 25%;
  background-color: #ecf0f1;
  border-radius: 10px;
}

.close{
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

.titulo{
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.titulo h2{
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2%;
}

.editDatos{
  width: 80%;
  height: 70%;
  margin: auto;
  margin-top: 2%;
  display: block
}

input{
  font-size: 16px;
  color: #000;
  letter-spacing: 1px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #7f8c8d;
  margin: 1%;
}

.id{
  padding: 1.5% 1%;
}

.id2{
  width: 80%;
  padding-top: 4px;
  padding-bottom: 50px;
}

input[type=submit]{
  padding: 2%;
  background-color: #27ae60;
  cursor: pointer;
}

input[type=submit]:hover{
   color: #fff;
}
